/* styles.css */

body {
    background-color: lightblue;
    background-blend-mode: color-burn;
}

header {
    background-color: #6078a7;
    font-size: large;
    text-align: center;
}

main {
    background-color: rgb(153, 177, 115);
}

footer {
    background-color: #6078a7;
    font-size: larger;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: tomato;

}
